<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-cloudscale-index") %>>
          <a href="/docs/providers/cloudscale/index.html">cloudscale Provider</a>
        </li>

        <li<%= sidebar_current("docs-cloudscale-resource") %>>
          <a href="#">Resources</a>
        <ul class="nav nav-visible">

        <li<%= sidebar_current("docs-cloudscale-resource-server") %>>
          <a href="/docs/providers/cloudscale/r/server.html">cloudscale_server</a>
        </li>

        <li<%= sidebar_current("docs-cloudscale-resource-server-group") %>>
          <a href="/docs/providers/cloudscale/r/server_group.html">cloudscale_server_group</a>
        </li>

        <li<%= sidebar_current("docs-cloudscale-resource-volume") %>>
          <a href="/docs/providers/cloudscale/r/volume.html">cloudscale_volume</a>
        </li>

        <li<%= sidebar_current("docs-cloudscale-resource-network") %>>
          <a href="/docs/providers/cloudscale/r/network.html">cloudscale_network</a>
        </li>

        <li<%= sidebar_current("docs-cloudscale-resource-subnet") %>>
          <a href="/docs/providers/cloudscale/r/subnet.html">cloudscale_subnet</a>
        </li>

        <li<%= sidebar_current("docs-cloudscale-resource-floating-ip") %>>
          <a href="/docs/providers/cloudscale/r/floating_ip.html">cloudscale_floating_ip</a>
        </li>

        <li<%= sidebar_current("docs-cloudscale-resource-objects-user") %>>
                  <a href="/docs/providers/cloudscale/r/objects_user.html">cloudscale_objects_user</a>
                </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
